[Desktop Entry]
Encoding=UTF-8
Name=AscendFCU
GenericName=AscendFCU
Comment=A snap for AscendFCU
Exec=ascendfcu
Icon=${SNAP}/meta/gui/ascendfcu.png
Terminal=false
Type=Application
StartupNotify=false
Categories=Application;
Keywords=ascendfcu;
